.App {
  --card-width: 327px;
  --card-height: 160px;
  --banner-height: 38px;
  --gap: 24px;
  --corner: 12px;
  display: grid;
  grid-template:  'head' 203px
                  'main' 1fr
                  'foot' auto / var(--card-width);
  justify-content: center;
  align-items: center;
  gap: var(--gap);
margin: auto;
}

header {
  grid-area: head;
  display: grid;
  grid-template-rows: 133px 70px;
  align-items: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template: repeat(6, var(--card-height)) / var(--card-width);
  gap: 24px;
}

.profile {
  padding: 32px;
  background: hsl(246, 80%, 60%);
  border-radius: var(--corner);
  display: grid;
  grid-template: 'icon p' 35px
                 'icon h1' 35px / 70px auto;
  column-gap: 18px;
}

.profile > img {
  grid-area: icon;
  width: 70px;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
}

.profile > p {
  grid-area: p;
  align-self:flex-end;
  font-size: .9rem;
  color: hsl(236, 100%, 87%);
  margin-bottom: 4px;
}

ul {
  height: 100%;
  display: flex;
  justify-content:space-evenly;
  color: hsl(235, 45%, 61%);
  font-size: 1.125rem;
  font-weight: 400;
}

li:active{
  color: white;
}

h1 {
  grid-area: h1;
  align-self: flex-start;
  font-weight: 300;
}

header, .activity-card-data {
  background: hsl(235, 46%, 20%);
  border-radius: var(--corner);
}

.activity-card {
  border-radius: var(--corner);
  display: grid;
  grid-template: auto / auto;
  padding-top: var(--banner-height);
}

.activity-card-data {
  padding: 28px 24px;
  display: grid;
  grid-template: 'one two' auto
                'three four' auto / 1fr auto;
}

.activity-card-data:active {
  background: hsl(235, 45%, 61%);
}

.work {
  background: hsl(15, 100%, 70%);
  background-image: url(./images/icon-work.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -9px right 17px;
}

.play {
  background: hsl(195, 74%, 62%);
  background-image: url(./images/icon-play.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -5px right 17px;
}

.study {
  background: hsl(348, 100%, 68%);
  background-image: url(./images/icon-study.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -5px right 17px;
}

.exercise {
  background: hsl(145, 58%, 55%);
  background-image: url(./images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right 18px;
}

.social {
  background: hsl(264, 64%, 52%);
  background-image: url(./images/icon-social.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -13px right 20px;
}

.self-care {
  background: hsl(43, 84%, 65%);
  background-image: url(./images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top -13px right 17px;
}

.activity-card-data > :first-child {
  grid-area: one;
  font-size: 1.125rem;
  font-weight: 500;
}

.activity-card-data > :nth-child(2){
  grid-area: two;
  justify-self: flex-end;
}

.activity-card-data > :nth-child(3) {
  grid-area: three;
  font-size: 2rem;
  font-weight: 300;
}

.activity-card-data > :nth-child(4) {
  grid-area: four;
  justify-self:  flex-end;
  align-self: center;
  font-size: .9rem;
  color: hsl(236, 100%, 87%);
}

h2, img {
  display: inline-block;
}

footer {
  grid-area: foot;
  padding: 4px;
  font-size: 11px;
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 500px) {
  .App {
    --banner-height: 45px;
    --card-width: 255px;
    --card-height: 244px;
    --gap: 30px;
    display: grid;
    grid-template:  'head main' 1fr
                    'foot foot' auto / var(--card-width) auto;
    gap: var(--gap);
  }
  
  header, main {
    height: calc(var(--card-height) * 2 + var(--gap));
  }

  header {
    grid-area: head;
    display: grid;
    grid-template-rows: 354px auto;
    align-items: stretch;
  }

  .profile {
    grid-template: 'icon' 85px 
                    'p' auto
                    'h1' auto / 1fr;
    column-gap: 0;
  }

  .profile > img {
    width: 85px;
    height: auto;
    border: 2px solid white;
  }

  h1 {
    font-size: 2.5rem;
  }

  ul {
    padding: 0 32px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  main {
    grid-template: repeat(2, var(--card-height)) / repeat(3, var(--card-width));
    gap: var(--gap);
  }

  .activity-card-data {
    padding: 32px 30px;
    grid-template: 'one two' auto
                  'three three' auto
                  'four four' auto / 1fr 20px;
  }

  .activity-card-data > :nth-child(3) {
    font-size: 3.5rem;
  }

  .activity-card-data > :nth-child(4) {
    justify-self: auto;
  }
}