.App {
  --card-width: 327px;
  --card-height: 160px;
  --banner-height: 38px;
  --gap: 24px;
  --corner: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
  margin: calc(var(--gap) * 2);
}

header {
  height: 203px;
  width: var(--card-width);
}

main {
  display: inherit;
  flex-direction: inherit;
  gap: 24px;
}

.profile {
  background: hsl(246, 80%, 60%);
  border-radius: var(--corner);
}

.profile > img {
  width: 70px;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
}

header, .activity-card-data {
  background: hsl(235, 46%, 20%);
  border-radius: var(--corner);
}

.activity-card {
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--corner);
  display: grid;
  grid-template: var(--banner-height) auto / var(--card-width);
}

.activity-card-data {
  padding: 28px 24px;
  display: grid;
  grid-template: 'one two' auto
                'three four' auto / 1fr 1fr;

}

.work {
  background: hsl(15, 100%, 70%);
  overflow: hidden;
}

.card-banner{
  margin-top: -10px;
  margin-left: auto;
}

.activity-card-data > .one {
  grid-area: one;
  font-size: 1.125rem;
  font-weight: 500;
}

.activity-card-data > .two {
  grid-area: two;
  justify-self: flex-end;
}

.activity-card-data > .three {
  grid-area: three;
  font-size: 2rem;
  font-weight: 300;
}

.activity-card-data > .four {
  grid-area: four;
  justify-self:  flex-end;
  align-self: center;
  font-size: .9rem;
  color: hsl(236, 100%, 87%);
}

h2, img {
  display: inline-block;
  object-fit: contain;
}

.attribution { 
  font-size: 11px;
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 500px) {
  .App {
    --card-width: 203px;
    --card-height: 194px;
    --gap: 24px;
    display: grid;
    grid-template:  'head main' 1fr
    'foot foot' auto / var(--card-width) 657px;
    gap: 24px;
    margin: 0;
  }
  
  header, main {
    height: calc(var(--card-height) * 2 + var(--gap));
  }
  
  header {
    grid-area: head;
  }
  
  main {
    grid-area: main;
    display: grid;
    grid-template: repeat(2, 194px) / repeat(3, var(--card-width));
    gap: 24px;
  }
  
  .activity-card-data {
    grid-template: 'one two' auto
                  'three three' auto
                  'four four' auto / 1fr 1fr;
  }

  .activity-card-data > .three {
    font-size: 3.5rem;
  }

  .activity-card-data > .four {
    justify-self: auto;
  }

  footer {
    grid-area: foot;
    padding: 3px;
  }
}